<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bienvenido</title>
        <link rel="stylesheet" href="static/css/styles.css">
    </head>
    <body class="bodybienvenido">
        <header class="headerClaro">
            <h1>Bienvenido a Sancho Panza</h1>
        </header>
        
        <div class="botones">
            <a class="Boton" href="{{url_for('inicio')}}" >Iniciar Sesion</a>
            <a class="Boton" href="{{url_for('registro')}}" > Registrarse</a>
        </div>
        
        <footer class="pie">
            Ramiro Elizondo - Octavio Garello - 2022 
        </footer>
    </body>
</html>